# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: pgodschalk.github.io
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}
jobs:
  lint-astro:
    name: Lint Astro
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Cache bun dependencies
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: bun-${{ runner.os }}-${{ hashFiles('bun.lock') }}
          restore-keys: bun-${{ runner.os }}-
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Lint and format check with Biome
        run: bun run biome ci
      - name: Lint with ESLint
        run: bun run lint:check
      - name: Format check with Prettier
        run: bun --bun run format:check
      - name: Check types with Astro + tsc
        run: bun run type:check
  test:
    name: Test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Set up bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Cache bun dependencies
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: bun-${{ runner.os }}-${{ hashFiles('bun.lock') }}
          restore-keys: bun-${{ runner.os }}-
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run unit tests with Vitest
        run: bun run test
  lint-markdown:
    name: Lint Markdown
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Lint with markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: |
            **/.github/PULL_REQUEST_TEMPLATE
            **/*.md
      - name: Set up bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Cache bun dependencies
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: bun-${{ runner.os }}-${{ hashFiles('bun.lock') }}
          restore-keys: bun-${{ runner.os }}-
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Format check with Prettier
        run: |
          bun run prettier \
            --check \
            --parser markdown \
            --prose-wrap always \
            --print-width 80 \
            "**/*.md" "**/.github/PULL_REQUEST_TEMPLATE"
  lint-nginx:
    name: Lint Nginx
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Cache bun dependencies
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: bun-${{ runner.os }}-${{ hashFiles('bun.lock') }}
          restore-keys: bun-${{ runner.os }}-
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Format check with Prettier
        run: |
          bun run prettier --check --no-config --parser nginx \
            --plugin=node_modules/prettier-plugin-nginx/dist/index.js \
            "nginx/**/*.conf"
  lint-toml:
    name: Lint TOML
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Tombi
        uses: tombi-toml/setup-tombi@f7cb38e77d9a62bc27a8445bf50e660e9496b893 # v1.0.7
      - name: Lint and format check with Tombi
        run: |
          tombi format --check "**/*.toml"
          tombi lint "**/*.toml"
  lint-yaml:
    name: Lint YAML
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false
      - name: Cache Go binaries
        uses: actions/cache@v5
        with:
          path: ~/go/bin
          key: go-bin-yaml-${{ runner.os }}-yamlfmt
      - name: Install yamlfmt
        run: go install github.com/google/yamlfmt/cmd/yamlfmt@latest
      - name: Format check with yamlfmt
        run: yamlfmt --lint "**/*.{yml,yaml}"
  lint-xml:
    name: Lint XML
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Cache bun dependencies
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: bun-${{ runner.os }}-${{ hashFiles('bun.lock') }}
          restore-keys: bun-${{ runner.os }}-
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Format check with Prettier
        run: |
          bun run prettier \
            --check \
            --parser xml \
            --plugin node_modules/@prettier/plugin-xml/src/plugin.js \
            "**/*.svg"
  build:
    name: Build Astro site
    permissions:
      contents: read
    needs:
      - lint-astro
      - test
      - lint-markdown
      - lint-nginx
      - lint-toml
      - lint-yaml
      - lint-xml
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Build and upload Astro site
        uses: withastro/action@fd83e9d976da29fe29a0cc268443b7203c18f9ba # v5.0.2
        with:
          package-manager: bun@latest
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
  deploy:
    name: Deploy to GitHub Pages
    permissions:
      contents: read
      id-token: write
      pages: write
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment:
      name: production
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
  docker:
    name: Build and publish Docker image
    permissions:
      contents: read
      packages: write
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: meta
        name: Extract metadata for Docker
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha,prefix=
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: .
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          provenance: true
          push: true
          sbom: true
          tags: ${{ steps.meta.outputs.tags }}
